# fly.toml app configuration file generated for server-green-silence-3042 on 2025-11-25T09:55:29-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'server-green-silence-3042'
primary_region = 'dfw'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[services]]
  protocol = "udp"
  internal_port = 6000
  processes = ["app"]

  [[services.ports]]
    port = 6000
